.env
*.pyc
baseline/
datasets/
result/
experiments/
result_xmls/
*.log
run_edc.sh
run_graphjudge.sh
run_kg_gen.sh

__pycache__/

# Allow tracking of kg-gen assets
!evaluate/kg-gen/experiments/
!evaluate/kg-gen/data/
!evaluate/kg-gen/tests/data/


evaluate/construction/logs