/evaluate/dataset/
/output/
/1result/
cache
*.csv

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.log
/datasets/kg-gen/kg-gen/view/summ.json
/evaluate/construction/logs
/evaluate/kg-gen/
/experiments/MINE/
/experiments/MINE/results/
/experiments/MINE/results/
*.zip